= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :username
    %br/
    = f.text_field :username
  %p
    = f.label :first_name
    %br/
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br/
    = f.text_field :last_name
  %p
    = f.label :email
    %br/
    = f.email_field :email
  - if action_name == "new"
    %p
      = f.label :password, "New password"
      %br/
      = f.password_field :password
    %p
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation
  %p
    = f.label :role
    %br/
    = f.collection_select :role, User::ROLES, :to_s, :humanize
  .actions
    = f.submit